torch==2.6.0
transformers==4.56.1
accelerate==0.26.0
fschat==0.2.31
gradio==3.50.2
huggingface_hub[hf_transfer]==0.34.4
modal
openai==0.28.0
anthropic==0.5.0
numpy==1.26.4
sentencepiece==0.1.99
protobuf==3.19.0
safetensors
shortuuid
wandb
gymnasium==1.1.1
stable_baselines3==2.7.0
tensorboard
tqdm
